@import 'bootstrap/dist/css/bootstrap';

//.navbar-brand{
//  font-size: 2rem;
//}

.search-area{
  margin-top: 50px;
}
.no-right-padding{
   padding-right: 0 !important;
}
.no-left-padding{
  padding-left: 0 !important;
}
.result-block{
  display: inline-block;
  margin-bottom: 1rem;
}
.logout-button{
  margin-right: 5px;
}
.last-name{
  margin-top: 3.5%;
  margin-right: 5px;
}